{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "tabWidth": 2,
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "jsxSingleQuote": true,
    "jsxBracketSameLine": false,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "quoteProps": "as-needed",
    "embeddedLanguageFormatting": "auto"
}  